.dropdown-container {
    min-width: 258px;
    border-radius: 4px;
    position: relative;
    background-color: #494D54;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #F8F8F8;

}

.dropdown-input {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border-radius: 4px;
    overflow: auto;
    max-height: 250px;
    background-color: #494D54;
    z-index: 99;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;

}

.dropdown-selected-value {
    max-width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}