@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif, -apple-system;
}

html {
  overflow: hidden;
}

body {
  background-color: #292b30;
}